<p id="notice"><%= notice %></p>

<h1>Products</h1>
<%= link_to 'New Product', new_product_path, class: "button primary hollow" %>

<table class="stack hover">
  <tbody>
    <% @products.each do |product| %>
      <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
        <td><%= image_tag(product.image_url, class: "list-image") %></td>
        <td class="list-description">
          <dl>
            <dt><%= product.title %></dt>
            <dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
          </dl>
        </td>
        <td class: "button-group">
          <%= link_to 'Show', product, class: "button primary hollow", id: "product-button" %>
          <%= link_to 'Edit', edit_product_path(product), class: "button secondary hollow", id: "product-button" %>
          <%= link_to 'Destroy', product, class: "button alert", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
