<p id="notice"><%= notice %></p>

<h2>Your Pragmatic Catalog</h2>

<% @products.each do |product| %>
<div class="row">
  <div class="small-10 columns">
    <div class="row">
      <div class="small-3 columns">
        <%= image_tag(product.image_url) %>
      </div>
      <div class="small-9 columns">
        <h4><%= product.title %></h4>
        <%= sanitize(product.description) %>
        <div class="price-line">
          <div class="clearfix">
            <span class="float-left" id="price"><%= number_to_currency(product.price) %></span>
            <%= button_to 'Add to Cart', line_items_path(product_id: product), class: "button primary hollow float-right", id: "cart-button" %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<% end %>
